.content {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    .container-page {
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 100vh;

        &::-webkit-scrollbar {
            width: 5px;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: var(--color-gray);
            border-radius: 10px;
        }
    }

    .header {
        height: 5rem;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 2rem;
    
        .logo {
            width: 10rem;
            cursor: pointer;
            font-size: 1.5rem;
            font-weight: 700;
        }
    
        .searchbar {
            position: relative;
            width: 35rem;
            height: 2.5rem;
            display: flex;
            align-items: center;
    
            input {
                height: 100%;
                width: 100%;
                border-radius: 2rem;
                border: none;
                outline: none;
                padding: 0 2.5rem;
                font-size: 1.2rem;
                color: var(--color-box);
            }

            .img {
                position: absolute;
                margin-top: .3rem;
                left: .5rem;
                &:first-child {
                    color: var(--color-box);
                }
            }
        }
    
        .login-btn {
            display: flex;
            justify-content: space-between;
            width: 10rem;
    
            &:nth-child(1n) {
                cursor: pointer;
            }

            span {
                transition: all .1s ease-in-out;

                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }
    
    .h2 {
        margin: 3rem 0 0 1rem;
        font-size: 1.5rem;
    }

    .btn-carou {
        display: flex;
        justify-content: end;
        width: 90vw;

        &>div {
            margin: 0 1rem;
            cursor: pointer;
            font-weight: 700;
            transition: all .1s ease-in-out;
            
            &:hover {
                color: var(--color-primary);
            }
        }
    }

    .carousel {
        height: 21rem;
        display: flex;
        margin-top: 1rem;
        
        .cards {
            display: flex;
            height: 100%;
            
            &:last-child {
                margin-right: 1rem;
            }
            
            .card {
                position: relative;
                height: 100%;
                min-width: 40rem;
                margin: 0 1rem;
                border-radius: 5px;
                overflow: hidden;
                cursor: pointer;
                
                &:hover {
                    img {
                        transform: scale(1.03);
                    }
                }
                
                img {
                    object-fit: cover;
                    width: 40rem;
                    margin-top: -5rem;
                    border-radius: 5px;
                    transition: all .2s ease-in-out;
                }

                .title {
                    position: absolute;
                    bottom: 10%;
                    left: 5%;
                    font-size: 1.6rem;
                    color: var(--color-gray);
                }

                .note {
                    position: absolute;
                    right: 5%;
                    top: 5%;
                    font-size: 1.6rem;
                }
            }
        }
       
    }

    .container {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        
        #filter-row {
            flex-wrap: nowrap;
            width: auto;
        }

        .cards {
            min-width: 100vw;
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;

            .card {
                position: relative;
                height: 18rem;
                width: 12rem;
                margin: 1.5rem 0 0 2.5rem;
                border-radius: 5px;
                background-color: var(--color-box);
                transition: all .2s ease-in-out;
                cursor: pointer;

                &:hover {
                    background-color: var(--color-box-hover);

                    img {
                        transform: scale(1.05);                        
                    }
                }
                
                .image {
                    width: 100%;
                    height: 75%;
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                    overflow: hidden;

                    img {
                        width: 100% ;
                        height: auto;
                        border-top-right-radius: 5px;
                        border-top-left-radius: 5px;
                        transition: all .3s ease-in-out;
                      }
                }

                .resume {
                    height: 3rem;

                    .title {
                        height: 2.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        margin: 0 1rem;
                    }
    
                    .price {
                        width: auto;
                        margin: 0 1rem;
                        text-align: end;
                    }
    
                    .note {
                        position: absolute;
                        top: 1rem;
                        right: 1rem;
                        font-size: 2rem;
                    }

                }
            }
        }
    }

    .login-popup {
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-color: var(--color-background);
        z-index: 9999;
        display: grid;
        place-items: center;
        cursor: default;

        .container {
            position: relative;
            background-color: var(--color-box);
            width: 30vw;
            height: 30vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 5px;

            .title {
                width: 50%;
                height: 5rem;
                display: grid;
                place-items: center;
            }

            .form {
                width: 80%;
                height: 80%;

                .email {
                    margin: 1rem 1rem;
                    height: 3rem;
                }

                .password {
                    margin: 0 1rem;
                    height: 3rem;
                }

                input {
                    height: 100%;
                    width: calc(100% - 2rem);
                    padding-left: 2rem;
                    border-radius: 2rem;
                    border: none;
                    outline: none;
                }

                .submit {
                    margin: 1rem;
                    height: 3rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span {
                        background-color: var(--color-font);
                        color: var(--color-box);
                        width: 5rem;
                        height: 2rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 2rem;
                        font-weight: 700;
                        cursor: pointer;
                    }
                }

            }
            .close-btn {
                position: absolute;
                top: 1rem;
                right: 1rem;
                cursor: pointer;
            }
        }
    }

    .register-popup {
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-color: var(--color-background);
        z-index: 9999;
        display: grid;
        place-items: center;
        cursor: default;

        .container {
            position: relative;
            background-color: var(--color-box);
            width: 30vw;
            height: 35vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 5px;

            .title {
                width: 50%;
                height: 5rem;
                display: grid;
                place-items: center;
            }

            .form {
                width: 80%;
                height: 80%;

                .pseudo {
                    margin: 1rem 1rem;
                    height: 3rem;
                }

                .email {
                    margin: 1rem 1rem;
                    height: 3rem;
                }

                .password {
                    margin: 0 1rem;
                    height: 3rem;
                }

                input {
                    height: 100%;
                    width: calc(100% - 2rem);
                    padding-left: 2rem;
                    border-radius: 2rem;
                    border: none;
                    outline: none;
                }

                .submit {
                    margin: 1rem;
                    height: 3rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span {
                        background-color: var(--color-font);
                        color: var(--color-box);
                        width: 5rem;
                        height: 2rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 2rem;
                        font-weight: 700;
                        cursor: pointer;
                    }
                }

            }
            .close-btn {
                position: absolute;
                top: 1rem;
                right: 1rem;
                cursor: pointer;
            }
        }
    }

    .game-popup {
        position: absolute;
        height: 100vh;
        width: 100vw;
        z-index: 9999;
        background-color: var(--color-background);
        overflow: hidden;
    
        .container {
            position: relative;
            margin: 2rem;
            width: auto;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
    
            .image {
                height: 92vh;
                width: 35vw;
    
                img {
                    height: 100%;
                    width: 100%;
                }
            }
    
            .details {
                width: 30vw;
                margin: 0 2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .info {
                    height: 50vh;

                    .title {
                        height: 5rem;
                        
                        h2 {
                            font-size: 3rem;
                            
                        }
                    }
                    
                    .content {
                        height: auto;
                        width: auto;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        h2 {
                            width: 100%;
                        } 
                        
                        p {
                            margin: 1.5rem 0;
                            width: 100%;
                            font-size: 1.3rem;
                        }

                        .more {
                            width: 80%;
                            display: flex;
                            justify-content: space-between;

                            &>div {
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                h2 {
                                    width: auto;
                                }

                                p {
                                    width: auto;
                                }
                            }
                        }
                    }
                }

                .action {
                    height: 18vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .loc {
                        display: flex;
                        justify-content: space-between;
                        
                        span {
                            background-color: var(--color-box);
                            width: 40%;
                            height: 3rem;
                            display: grid;
                            place-items: center;
                            border-radius: 2rem;
                            cursor: pointer;
                            transition: all .2s ease-in-out;

                            &:hover {
                                background-color: var(--color-box-hover);
                            }
                        }
                    }
                }

                .note-btn  {
                    display: flex;
                    justify-content: space-around;

                    span {
                        font-size: 2rem;
                        cursor: pointer;
                        transition: all .2s ease-in-out;

                        &:hover {
                            color: var(--color-gray);
                            transform: scale(1.1);
                        }
                    }
                }
            }
    
            .avis {
                width: 20vw;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                .title {
                    font-size: 1.3rem;
                }
    
                .comments {
                    max-height: 55vh;
                    overflow-y: auto;

                    &::-webkit-scrollbar {
                        width: 5px;
                    }
                    
                    &::-webkit-scrollbar-thumb {
                        background-color: var(--color-gray);
                        border-radius: 10px;
                    }
    
                    .row-comment {
                        background-color: var(--color-box);
                        width: auto;
                        margin: 1rem;
                        min-height: 8rem;
                        border-radius: 5px;
    
                        .author {
                            margin: 1rem;
                            padding-top: .7rem;
                        }
    
                        .text {
                            margin: 0 1rem 1rem 1rem;
                        }

                        .date {
                            text-align: end;
                            font-size: .7rem;
                            margin-right: .5rem;
                            padding-bottom: .7rem;
                        }
                    }
                }

                .add-comments {
                    width: 100%;
                    margin-top: 1rem;
                    height: 15rem;

                    textarea {
                        width: auto;
                        min-width: 80%;
                        height: 5rem;
                        outline: none;
                        font-size: 1.1rem;
                        background-color: var(--color-box);
                        color: var(--color-font);
                        padding: 1rem;
                        margin: 0 1rem;
                    }

                    .submit {
                        margin-top: 1rem;
                        height: 3rem;
                        display: grid;
                        place-items: center;

                        span {
                            background-color: var(--color-box);
                            height: 100%;
                            width: 11rem;
                            display: grid;
                            place-items: center;
                            border-radius: 2rem;
                            cursor: pointer;
                            transition: all .3s ease-in-out;

                            &:hover {
                                background-color: var(--color-box-hover);
                            }
                        }
                    }
                }
            }
        }
    
        .close-btn {
            position: absolute;
            right: 1rem;
            top: 1rem;
            cursor: pointer;
        }
    }
}